<p>reactive works!</p>

<form [formGroup]="addDetails" (ngSubmit)="onSubmit()">
    <div>
    <label>First Name</label>
    <input type="text" formControlName="firstName">
    <div class="error" *ngIf="addDetails.get('firstName').hasError('minlength') && addDetails.get('firstName').touched">contact name is of 6 letters</div>
    </div>

    <div>
        <label>Last Name</label>
        <input type="text" formControlName="lastName"></div>

    <div>
        <label>Gender </label>
        <select name="gender">
            <option value="1">male</option>
            <option value="2">female</option>
        </select></div>
    
    <div>
        <label>Roll Number</label>
        <input type="number" formControlName="rollno" /></div>
    
    <div>
        <label>Description</label>
        <textarea  formControlName="description"></textarea></div>

    <div>
        <input type="checkbox" formControlName="terms" required/>Accept terms and conditions</div>
    
    <button (click)="addData()" [disabled]="!addDetails.valid">Add Contact</button>
    <button (click)="reset()" >Reset Form</button>
    <button (click)="loadValues()" >load Form</button>


</form>