<p>add-customer works!</p>
<form #addCustomerForm="ngForm" (submit)="addCustomer(addCustomerForm)">
    <input type="text" [(ngModel)]="firstname" name="firstname" required minlength="10"/><br>
    <input type="checkbox" [(ngModel)]="terms" name="terms" required/>Accept terms and conditions<br>
    <select [(ngModel)]="customerType" name="customerType">
        <option value="1">Premium</option>
        <option value="2">Standard</option>
    </select><br>
    <textarea [(ngModel)]="description" name="description"></textarea><br>

    <button type="submit" [disabled]="!addCustomerForm.valid">Add Customer</button>
    <button class="btn btn-link" (click)="resetForm(addCustomerForm)"> Reset Form </button>
    <button class="btn btn-link" (click)="loadValue(addCustomerForm)"> Set Values </button>

</form>

<div> {{firstname}}</div>